source https://api.nuget.org/v3/index.json
# source https://nuget.pkg.github.com/fsbolero/index.json
storage: none
framework: net6.0

nuget Microsoft.AspNetCore.Components.WebAssembly.DevServer
nuget Bolero
nuget Bolero.Build