source https://api.nuget.org/v3/index.json
source https://ci.appveyor.com/nuget/bolero
storage: none
framework: net5.0

nuget Microsoft.AspNetCore.Components.WebAssembly.DevServer
nuget Bolero
nuget Bolero.Build